<div class="ui cards">
    <div class="card">
        <div class="content">
            <b>友情链接</b>
            <div class="ui divider"></div>
            <div class="ui list">
                <div class="item">
                    <a href="/" style="width:100%">
                        <img src="https://res.cloudinary.com/theone/image/upload/v1430750829/rjpkswtvxxte4105ttrg.jpg" style="width:100%">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
